<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div id="page-header">
        <h2>Search Google for Books</h2>
        <h3>Then add to your personal collection.</h3>
      </div>
      <div id="page">
        <form id="search-api" action="/search" method="post">
          <input type="text" name="search" placeholder="Enter a title or author" required>
          <fieldset>
            <label for="title">
              <span>Title</span>
              <input type="radio" id="title" name="search" value="title" required>
            </label>
          </fieldset>
          </fieldset>
          <fieldset>
            <label for="author">
              <span>Author</span>
              <input type="radio" id="author" name="search" value="author" required>
            </label>
          </fieldset>
          <button name="submit_button" type="submit">Search Google Books</button>
        </form> 
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>